*{
	box-sizing: border-box;
  }
nav{
	display: block;
}
header {
	height:90vh;
	width: 100%;
  background-image: url(https://www.albafood.nl/Files/8/121000/121221/PageHomeSlideShows/w1170_3111472_nl.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  opacity: 0.8;
}
#canso-header {
    /* background: #fff!important; */
	/* height:10vh; */
}

.carousel {
	margin-bottom: 4rem;
}

.carousel-item {
    height: 32rem;
}

.marketing .col-lg-6 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.featurette-divider {
    margin: 5rem 0;
}

.below-topbar {
    padding: 25px 0;
}
.canso-logo {
	opacity: 1 !important;
	z-index: 10;
}

.canso-topbrands {
    vertical-align: middle;
}
.canso-topbrands img {
    max-height: 120px;
    padding-right: 60px;
}


.section{
	padding:20px 0;
  }
  
  .section-b{
	height: 20vh;
	background:#333;
	color:#fff;
  }
  .section-b .container{
	display: flex;
  }


  footer {
	  height: 10vh;
	  padding: 10px 0;
  }








  